.grandpa,
.grandpa div {
    border: 2px solid gray;
    border-radius: 6px;
    margin: 10px;
    padding: 15px;
}

.btn {
    background-color: white;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black;

}

.btn:hover {
    background-color: #242B2E;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid black;
}